.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #F0F0F0;
  height: 100vh;
}

.language-header {
  text-align: right;
  padding: 20px;
  font-size: 20px;
  color: #333;
}

.translation-container {
  display: flex;
  justify-content: space-evenly;
}

.translation-card {
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  width: 40%;
  padding: 20px;
  margin: 20px;
  height: 300px;
}

.translation-label {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.translation-text {
  font-size: 18px;
  color: #666;
  text-align: left;
}
